@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap");
:root {
  --silver: #c1c1c1;
  --silver-shade4: #a3a3a3;
  --silver-shade3: #858585;
  --silver-shade2: #5c5c5c;
  --silver-shade1: #333333;
  --charcoal: #2c4251;
  --fuzzy-wuzzy: #d16666;
  --fuzzy-wuzzy-shade1: #ad3434;
  --fuzzy-wuzzy-shade2: #c74343;
  --fuzzy-wuzzy-shade3: #d06262;
  --fuzzy-wuzzy-shade4: #d98181;
  --android-green: #b6c649;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 5500px) {
  html {
    font-size: 40%;
  }
}
h1 {
  font-size: 9rem;
  font-weight: 900;
  color: var(--android-green);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem var(--charcoal);
}
@media (max-width: 1000px) {
  h1 {
    padding: 0 4rem;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 7rem;
    padding: 0 2rem;
  }
}
/* navigation */
.navbar {
  height: 14rem;
  background-color: var(--silver);
  position: fixed;
  top: -14rem;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--charcoal);
  transition: top 0.4s;
}
.navbar.change {
  top: 0;
  transition: top 0.4s 0.2s;
}
.navbar__link {
  color: var(--charcoal);
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  opacity: 0;
  transition: color 0.3s, opacity 0.2s;
}
@media (max-width: 900px) {
  .navbar__link {
    margin: 2rem;
  }
}
@media (max-width: 550px) {
  .navbar__link {
    margin: 1rem;
  }
}
.change .navbar__link {
  opacity: 1;
}
.change .navbar__link:nth-child(1) {
  transition: opacity 0.4s 0.5s, color 0.3s;
}
.change .navbar__link:nth-child(2) {
  transition: opacity 0.4s 0.6s, color 0.3s;
}
.change .navbar__link:nth-child(3) {
  transition: opacity 0.4s 0.7s, color 0.3s;
}
.change .navbar__link:nth-child(4) {
  transition: opacity 0.4s 0.8s, color 0.3s;
}
.change .navbar__link:nth-child(5) {
  transition: opacity 0.4s 0.9s, color 0.3s;
}
.navbar__link:hover {
  color: var(--fuzzy-wuzzy);
}

.navbar__link i {
  font-size: 7rem;
}
@media (max-width: 900px) {
  .navbar__link i {
    font-size: 4rem;
  }
}
.navbar__link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}
@media (max-width: 900px) {
  .navbar__link span {
    font-size: 2rem;
  }
}
.menu {
  width: 4rem;
  height: 6rem;
  background-color: var(--fuzzy-wuzzy);
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--fuzzy-wuzzy-shade1),
    -0.1rem -0.1rem 0.1rem var(--fuzzy-wuzzy-shade1);
  cursor: pointer;
  z-index: 90;
  transition: top 0.4s 0.2s;
}
@media (max-width: 700px) {
  .menu {
    left: 2rem;
  }
}
.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: var(--fuzzy-wuzzy);
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
}
.menu.change {
  top: 15rem;
  transition: top 0.4s;
}
/* end of navigation */

/* header */
.heading {
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.heading__icons i {
  font-size: 40rem;
  color: var(--silver);
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.3rem 0.3rem 0.7rem var(--charcoal);
  transition: transform 0.3s;
}
@media (max-width: 1000px) {
  .heading__icons i {
    font-size: 25rem;
  }
}
@media (max-width: 550px) {
  .heading__icons i {
    font-size: 25rem;
  }
}
.heading__icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}
/* end of header */

/* Menu Cards */
.cards {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
  background-color: var(--white);
}
@media (max-width: 1400px) {
  .cards {
    min-height: auto;
    padding: 10rem;
  }
  .cards__container {
    margin-top: 10rem;
  }
}

.cards__container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .cards__container {
    flex-wrap: wrap;
  }
}
.card {
  width: 30rem;
  background-color: var(--silver);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem var(--charcoal);
  position: relative;
  transition: transform 0.3s;
}
@media (max-width: 1000px) {
  .card {
    margin: 5rem;
  }
}
.card:hover {
  transform: translateY(0.3rem);
  box-shadow: 0.3rem 0.3rem 0.3rem var(--charcoal);
}
.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: var(--silver-shade1);
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
}
.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: var(--silver-shade2);
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
}
.card__image {
  width: 100%;
}
.card__name {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 2rem 0;
  color: var(--fuzzy-wuzzy);
  text-shadow: 0.15rem 0.15rem 0.15rem var(--charcoal);
}
.card__btn {
  width: 70%;
  background-color: var(--fuzzy-wuzzy);
  color: var(--silver);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 0.5em 1em;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--charcoal);
  cursor: pointer;
}
@media (max-width: 550px) {
  .card.btn {
    width: 90%;
  }
}

/* end of Menu Cards */
/* gallery - section 3 */
.gallery__container {
  padding: 5rem 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.gallery__link {
  position: relative;
  margin: 4rem 1rem;
  position: relative;
}
@media (max-width: 1400px) {
  .gallery__link {
    width: 42rem;
    height: 25rem;
    margin: 4rem;
  }
}
.gallery__link::before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 0; /*80% */
  background-color: var(--fuzzy-wuzzy-shade1);
  transition: height 0.4s;
  z-index: 10;
}
.gallery__link:hover::before {
  height: 80%;
}
.gallery__link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0; /* 90%*/
  height: 0.2rem;
  background-color: var(--fuzzy-wuzzy-shade1);
  transition: width 0.4s;
}
.gallery__link:hover::after {
  width: 90%;
}
.food__image {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem var(--silver-shade1),
    0.5rem 0.5rem 0.1rem var(--silver-shade2),
    0.7rem 0.7rem.1rem var(--silver-shade3),
    0.9rem 0.9rem 0.1rem var(--silver-shade4);
  transition: all 0.5s;
}
@media (max-width: 1400px) {
  .food__image {
    width: 100%;
    height: 100%;
  }
}
.gallery__link:hover .food__image {
  box-shadow: 1rem 1rem 0.1rem var(--silver-shade1),
    2rem 2rem 0.1rem var(--silver-shade2), 3rem 3rem.1rem var(--silver-shade3),
    4rem 4rem 0.1rem var(--silver-shade4);
  filter: blur(1px);
  opacity: 0.4;
  transform: scale(1.1);
}
.food__name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--fuzzy-wuzzy-shade1);
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}
.gallery__link:hover .food__name {
  width: 60%;
  transition: width 1.4s 0.5s;
}
.food__description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--fuzzy-wuzzy-shade1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
@media (max-width: 1000px) {
  .food__description {
    bottom: 7rem;
  }
}
.gallery__link:hover .food__description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}
/* end of gallery - section 3 */
/* footer - section 4 */
.footer {
  height: 30vh;
  background-color: var(--fuzzy-wuzzy);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem 0;
  position: relative;
}
@media (max-width: 1000px) {
  .footer {
    height: 25rem;
  }
}
@media (max-width: 700px) {
  .footer {
    height: 35rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer__text {
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .footer__text {
    margin-bottom: 5rem;
  }
}
.footer__heading {
  font-size: 4rem;
  font-weight: 900;
  color: var(--charcoal);
}
.footer__paragraph {
  font-size: 1.5rem;
  color: var(--charcoal);
}
.footer__sign-up {
  display: flex;
  align-items: center;
}
.footer__email {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--charcoal);
}
.footer__email::placeholder {
  color: var(--charcoal);
}
.footer__btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--fuzzy-wuzzy);
  color: var(--silver);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--charcoal);
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid var(--charcoal);
  padding-top: 5rem;
  width: 90%;
  text-align: center;
}
/* end of footer - section 4 */
/* Responsive */

/* end of Responsive */
